@font-face {
  src: url('./assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, .app-container {
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
